<div class="posts-list" data-loggedinuserid="{{user_id}}">   
{{#each posts as |post user_id|}}
<div class="post" data-postid="{{post.id}}" data-userid="{{post.user.id}}">
    <div class="post-header">
        <button class="post-title">{{post.title}}</button>
        <h5>Posted by: {{post.user.name}} on {{post.createdAt}}</h5>
    </div>
    <h1>{{req.session.userId}}</h1>
    <p class=" content">{{post.content}}</p>
    <div class="comment-area hidden">
        <h4 class=" comment-header">Comment</h4>
        <textarea id="comment-text-area" placeholder="Write a comment" ></textarea>

        <button id="add-comment">Add comment</button>

    </div>

 

</div>
     
            {{#each comments}}
    <div class="comment-section">
        <div class="cmt-header"></div>

     <div class="comment-content">

        <p >{{content}}</p>

        <h4>- {{user.name}}</h4>
     </div>   


    </div>
  {{/each}}
{{/each}}
</div>
<script type="text/javascript" src="/js/home.js"></script>